@font-face {
    font-family: 'Noto Sans';
    src: url('/NotoSans-Regular.ttf');
}

body {
	background-color: #212121;
	color: beige;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	max-width: 48em;
	margin: 1em auto 0 auto;
}

.header {
	margin-bottom: 1em;
}

.social {
	float: right;
	height: auto;
	width: auto;
}

.social svg {
	margin: 10% 1em auto 0em;
	fill: beige;
}

.title {
	font-size: xx-large;
}

.subtitle {
	font-size: larger;
}

p {
	font-size: large;
	text-align: justify;
	line-height: 140%;
	font-weight: 400;
}

h2, h3, h4 {
	font-weight: 400;
}

.project {
	max-width: 46%;
}

.floatedright {
	float: right;
}

.floatedright h3 {
	margin-top: 0em;
}

ul {
	margin-top: 0.2em;
}

li {
	margin-bottom: 0.2em;
}

#footer {
	margin-bottom: 0.8em;
	margin-top: 2em;
	color: grey;
	text-align: center;
}

a {
	color: #6a8eb8;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.social a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
	body {
		max-width: 90%;
	}

	.title {
		display: inline;
	}

	.social {
		display: none;
	}

	.floatedright {
		float: none;
	}

	.project {
		max-width: 100%;
	}
}

@media (not (prefers-color-scheme: dark)) {
	body {
		background-color: #FFF3E0;
		color: #212121;
	}

	.social svg {
		fill: #212121;
	}
}
